@font-face {
	font-family: 'TT Lakes';
	src: url('./TTLakes-Medium.woff2') format('woff2'),
	url('./TT Lakes/TTLakes-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('./TTLakes-Bold.woff2') format('woff2'),
	url('./TT Lakes/TTLakes-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('./TTLakesCompressed-Black.woff2') format('woff2'),
	url('./TT Lakes/TTLakes-Regular.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

body {
	background: #F8F8F8
}

.header__text {
	font-family: 'TT Lakes', sans-serif;
	text-transform: uppercase;
	color: #7E7E82;
	font-size: 16px;
	width: 288px;
	font-weight: 400;
}

.brands__card {
	width: 230px;
	height: 72px;
	border-radius: 6px;
	border: 1px solid #EAEAEA;
	background: #fff;
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	padding-left: 16px;
}

.brands__card__button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #FF3E79;
	background: #fff;
	color: #FF3E79;
	font-size: 20px;
	margin: 16px;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background: #D9D9D9;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #7E7E7E;
}

.brands-swiper {
	display: block;
	width: 100%;
	overflow: hidden;
	padding-bottom: 24px;
}

.swiper-wrapper {
	display: flex;
}

.swiper-slide {
	width: auto;
	margin-right: 16px;
}

.brands-grid,
.toggle-btn {
	display: none;
}